<div>
  <div class="submit-form">
    @if (!submitted) {
    <form [formGroup]="tutorialForm" (ngSubmit)="saveTutorial()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        class="form-control"
        id="description"
        formControlName="description"
      />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    </form>
    } @else {
    <h4>Tutorial was submitted successfully!</h4>
    <button class="btn btn-success" (click)="newTutorial()">Add</button>
    }
  </div>
</div>
